*{margin: 0;padding: 0;box-sizing: border-box;}
#app{overflow: hidden;}
@keyframes loop{
  from{transform: rotate(0)};
  to{transform: rotate(360deg)};
}

.music{
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
  z-index: 999;
  transform: rotate(-360deg);
}
.music.active {
  animation: 4s linear 0s infinite loop;
}

@keyframes op01{
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes bot{
  from{opacity: 0;transform: translateY(50%);}
  to{opacity: 1;transform: translateY(0);}
}
@keyframes l{
  from{opacity: 0;transform: translateX(-150%);}
  to{opacity: 1;transform: translateY(0);}
}
@keyframes shake{
  from{opacity: 1;transform: translate(-50%, 0);}
  50%{opacity: 1;transform: translate(-50%, 10px);}
  to{opacity: 1;transform: translate(-50%, 0);}
}

.container{
  height: 100vh;
  transition: transform 0.3s;
}
.stage{
  height: 100vh;
  position: relative;
}
.stage img{width: 100%;}
.stage .op0{
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translation3d(0,0,0);
}

.stage .op01{animation: 2s linear 0.5s 1 op01 forwards;}
.stage .bot{animation: 0.5s linear 0.5s 1 bot forwards;}
.stage .l1{animation: 0.8s linear 0.5s 1 l forwards;}
.stage .l2{animation: 0.8s linear 1.5s 1 l forwards;}
.stage .l3{animation: 0.8s linear 2.5s 1 l forwards;}
.stage .l4{animation: 0.8s linear 3.5s 1 l forwards;}

.stage-1{
  background: url('./assets/b1.png');
  background-position: 0 -0.8rem;
  background-size: cover;
  padding-top: 8rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.stage-2{
  background: url('./assets/b2.png');
  background-position: 0 -0.8rem;
  background-size: cover;
  padding-top: 6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.stage-3{
  background: url('./assets//b3.png');
  background-position: 0 -0.5rem;
  background-size: cover;
  padding-top: 3.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  text-align: center;
}
.stage-3 .title{
  width: 4rem;
  margin: 0.53rem 0;
}

.stage-4{
  background: url('./assets/b4.png');
  background-size: cover;
  background-position: 0 -1.3rem;
  padding-top: 3.7rem;
  text-align: center;
  font-size: 0;
}
.stage-4 img{
  width: 7.4rem;
  margin-bottom: 0.06rem;
  transform: translateX(-150%);
}

.stage-5{
  background: url('./assets/b5.png');
  background-size: cover;
  background-position: 0 -1.3rem;;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 4.5rem;
}

.stage-6{
  background: url('./assets/b6.png');
  background-size: cover;
  background-position: 0 -1.3rem;;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 1.3rem;
}

.stage-7{
  background: url('./assets/b7.png');
  background-size: cover;
  background-position: 0 -1.3rem;;
  padding-top: 12.5rem;
  padding-left: 2.13rem;
  padding-right: 2.13rem;
}

.stage-8{
  background: url('./assets/b8.png');
  background-size: cover;
  background-position: 0 -1.3rem;;
  padding-top: 6rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  text-align: center;
}
.stage-8 .qrcode{
  width: 2.7rem;
  margin-bottom: 0.5rem;
}

#app .arrow{
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  bottom: 0.4rem;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
}

#app .arrow.active{
  animation: .5s linear 2s infinite shake;
}